body{font-family: 'Nanum Gothic';
background-repeat:no-repeat;
}
.rounded1{
	border-radius: 2em;
	width:230px;
	height :30px;
	background-color:white;
	border-color: #419fff;
	color: #419fff;
	font-size:10pt;
	}
	.rounded2{
	border-radius: 2em;
	width:70px;
	height :30px;
	background-color:#419fff;
	border-color: #419fff;
	color: white;
	font-size:10pt;
	}
	.day_table{
	background-color:#419fff;
	color :white;
	font-size:13pt;
	}
	.selet_cleander{
	color:#555555;
	border-color:#419fff;
	 border-radius: 3px;
	}
	.div_normal{
	overflow: hidden;
	background: white;
	border-color: #419fff;
	font-size:10pt;
	color:#ffffff;
	background-color:#f4acb3;
	border-radius:4px;
	padding:2px;
	}
	.div_normal_e{
	overflow: hidden;
	background: white;
	border-color: #419fff;
	font-size:10pt;
	color:#555555;
	background-color:#ffffff;
	border-radius:4px;
	padding:2px;
	}
	.div_normal_important{
	overflow: hidden;
	background: white;
	border-color: #419fff;
	font-size:10pt;
	color:#ffffff;
	border-radius:4px;
	background-color:#f06d7a;
	padding:2px;
	}
	.inputround{
	border-radius: 2em;
	width:70px;
	height :30px;
	background-color:#419fff;
	border-color: #419fff;
	color: white;
	font-size:10pt;
	}
	input[type="checkbox"] {
	  display: inline-block;
	  width: 14px;
	  height: 14px;
	  border: 2px solid #419fff;
	  cursor: pointer;
	}
	.textarea_w{
	  border:solid #419fff ;
	  border-radius: 2em;
	  }
	.input_but{
	border-radius: 2em;
	width:100px;
	height :30px;
	background-color:#555555;
	border-color: #555555;
	color: white;
	font-size:10pt;
	}
	.input_text{
	background: white;
	border-color: #555555;
	border-radius: 3em;
	color:#555555;
	width:450px;
	height:30px;
	padding-left:10px;
	}
	.input_text_2{
	background: white;
	border-color: #555555;
	border-radius: 3em;
	color:#555555;
	width:200px;
	height:30px;
	}
	.input_select{
	background: white;
	border-color: #555555;
	font-size:12pt;
	}